@import 'reset';
@import 'color';
@import 'mixin';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  height: 100%;
}

body {
  height: 100%;

  @include flex(center, center);

  font-family: 'Roboto', sans-serif;
  background-color: var(--light);
}

.card {
  position: relative;
  width: clamp(280px, 60vw, 330px);
  height: 600px;

  @include flex(center, center);

  color: var(--dark);
  background-color: var(--light);

  box-shadow: 0 0 16px rgba(0,0,0,.2);

  overflow: hidden;

  &__image {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);

    width: 600px;
    height: 600px;
    border-radius: 50%;

    background-image: url('../images/background.jpg');
    background-position: center center;
    background-size: clamp(600px, 100vw, 800px);
  }

  &__body {
    position: absolute;
    top: calc(300px - 40px);
    z-index: 1;

    @include flex(flex-start, center);
    flex-direction: column;

    padding: 0 20%;

    &--avatar {
      width: 80px;
      height: 80px;

      border-radius: 50%;
      border: 10px solid var(--light);

      background-image: url('../images/avatar.jpg');
      background-position: center center;
      background-size: cover;
    }

    &--title {
      width: 220px;
      margin: 1.5rem auto;

      @include text-overflow-ellipsis(2);

      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
    }

    &--description {
      width: 220px;
      margin-bottom: 1.5rem;

      @include text-overflow-ellipsis(3);

      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
    }

    &--links-wrapper {
      text-align: center;

      &__link {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 0 .5rem;

        &--icon {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center center;
        }
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .card {
    width: 500px;
    height: 200px;

    justify-content: flex-start;

    &__image {
      top: unset;
      left: unset;
      right: -50%;
      bottom: -100%;
      transform: translateX(0);

      width: 400px;
      height: 400px;

      transition: .4s;
    }

    &__body {
      position: static;
      padding: 1rem 0 0;

      flex-direction: row;
      align-items: flex-start;

      &--avatar {
        width: 58px;
        height: 32px;

        margin: 0 1rem;

        border-radius: 8px;
        border: none;
      }

      &--title {
        width: 280px;
        margin: unset;
      }

      &--description {
        margin: .5rem 0;
        font-size: 13px;
      }

      &--links-wrapper {
        text-align: left;

        &__link {
          margin: unset;

          &+.card__body--links-wrapper__link {
            margin-left: .5rem;
          }
        }
      }
    }
  }
}