@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

html {
  --dark: #000;
  --light: #fff;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: var(--light);
}

.card {
  position: relative;
  width: clamp(280px, 60vw, 330px);
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--dark);
  background-color: var(--light);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card__image {
  position: absolute;
  top: -50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-image: url("../images/background.jpg");
  background-position: center center;
  background-size: clamp(600px, 100vw, 800px);
}

.card__body {
  position: absolute;
  top: calc(300px - 40px);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20%;
}

.card__body--avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 10px solid var(--light);
  background-image: url("../images/avatar.jpg");
  background-position: center center;
  background-size: cover;
}

.card__body--title {
  width: 220px;
  margin: 1.5rem auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.card__body--description {
  width: 220px;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

.card__body--links-wrapper {
  text-align: center;
}

.card__body--links-wrapper__link {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 .5rem;
}

.card__body--links-wrapper__link--icon {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
}

@media screen and (min-width: 768px) {
  .card {
    width: 500px;
    height: 200px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .card__image {
    top: unset;
    left: unset;
    right: -50%;
    bottom: -100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 400px;
    height: 400px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .card__body {
    position: static;
    padding: 1rem 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .card__body--avatar {
    width: 58px;
    height: 32px;
    margin: 0 1rem;
    border-radius: 8px;
    border: none;
  }
  .card__body--title {
    width: 280px;
    margin: unset;
  }
  .card__body--description {
    margin: .5rem 0;
    font-size: 13px;
  }
  .card__body--links-wrapper {
    text-align: left;
  }
  .card__body--links-wrapper__link {
    margin: unset;
  }
  .card__body--links-wrapper__link + .card__body--links-wrapper__link {
    margin-left: .5rem;
  }
}
/*# sourceMappingURL=main.css.map */